## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.csproj.user

## IDE
.vs/
.vscode/
.idea/
*.swp

## OS
.DS_Store
Thumbs.db

## Secrets
appsettings.*.local.json
*.pfx

## Build
publish/
out/

## Unused libs
src/LexiTrek.Web/wwwroot/lib/
